{% extends 'main.html' %}

{% block additional_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript">
        const username = "{{ user.preferred_username }}";
    </script>
{% endblock %}

{% block content %}
    <div>
        <h1>Sample Flask application</h1>
        <p>Only logged users can see this page</p>
        <button id="test_app_route">Talk to Python (see console)</button>
        <a href="/" target="_self">Back</a>
    </div>
{% endblock %}