<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Trayectorias Suma y Sigue</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        {% block additional_head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
